@model IEnumerable<DataLayer.Entities.Item>

<div class="row" id="ItemsDiv">
    @foreach (var item in Model)
    {

        if (item.CategoryId == 1)
        {
            <div class="col-md-2 cusotomCol">
                <button class="pizzItem" id="@item.Id" style="background-color:@item.BackgroundColor;color:@item.TextColor">@item.Title</button>
                <input type="hidden" value="@item.PositionNumber" />
                <input type="hidden" value="@item.Id" class="itemId" />

            </div>

        }
        else
        {
            <div class="col-md-2 cusotomCol">
                <button class="singleitem" id="@item.Id" style="background-color:@item.BackgroundColor;color:@item.TextColor">@item.Title</button>
                <input type="hidden" value="@item.PositionNumber" />
                <input type="hidden" value="@item.Id" class="itemId" />

            </div>
        }
    }
</div>



<style>
    .selectedTopping {
        border: 3px solid;
        background-color: chartreuse !important;
        /*color:white;*/
    }
</style>
