@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="~/Content/styles/loginview.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <header class="loginHeader">
        <div style="display: inline-block;">
                @DateTime.Now.ToString("ddd dd MMM HH:mm")
            </div>
               
    </header>
    <div>
        @foreach (string name in Model)
        {
            //onclick = "location.href='@Url.Action("TakeAway", "Home")'"
            <button class="loginViewBtn">@name</button>
        }
    </div>
    <div class="bottomdiv">
        <div class="clockin">
            Clock in
        </div>
        <button class="exitBtn">
            Exit options
        </button>
    </div>
</body>
</html>
<script>
    $('.loginViewBtn').on("click", function () {
        var text = $(this).text();
        if(text=="Admin" || text == "admin")
        {
            window.location = '@Url.Action("ManagementSection", "Home")';
        }
        else
        {
            window.location = '@Url.Action("TakeAway", "Home")';
        }
    })
</script>