
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/styles/style.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <title>Main Menu</title>
</head>
<body>
    
    <header>
        <div style="width:100%">
            <div class="leftHeader">
                45 Minute Delay - @DateTime.Now.ToString("dd/MM/yyyy")
            </div>
            <div class="rightHeader">
                @DateTime.Now.ToString("HH:mm:ss")
            </div>
        </div>
    </header>
    
    <div style="float:right;margin-top:35px;">
        <button class="largeBtn greenBg" onclick="location.href='@Url.Action("TakeAwayHome", "Home")'">
            Take Away
        </button><br />
        <button class="largeBtn greenBg" onclick="location.href='@Url.Action("Index","DeliveryCollection")'">
            Delivery Collection
        </button><br />
        <button class="smallBtn greenBg">
            Dine in
        </button>
        <button class="smallBtn greenBg">
            Reservation
        </button><br />
        <button class="smallBtn">
            Await @*(@DataLayer.DAC.DAC.GetCollectionCount())*@ Collection
        </button>
        <button class="smallBtn" @*onclick="location.href='@Url.Action("AssigntoDriver", "DeliveryManagement")'"*@ >
            Assign to Driver@*(@DataLayer.DAC.DAC.GetUnAssignedDeliveriesCount())*@
        </button><br />
        <button class="smallBtn skyBlueBg">
            Print Last Order
        </button>
        <button class="smallBtn skyBlueBg" @*onclick="location.href='@Url.Action("DriverPayments", "DeliveryManagement")'"*@ >
            Payment by Driver@*(@DataLayer.DAC.DAC.GetDriverPaymentsCount())*@
        </button><br />
        <button class="smallBtn">
            Edit Order
        </button>
        <button class="smallBtn">
            Activate Order
        </button><br />
        <button class="largeBtn redBg" id="management" onclick="location.href='@Url.Action("ManagementSection", "ManagementSection")'">
            Management
        </button><br />
        <button class="smallBtn BlueBg">
            No Sale
        </button>
        <button class="smallBtn BlueBg" onclick="location.href='@Url.Action("Login", "Home")'">
            Login
        </button><br />
        <button class="largeBtn">
            Kitchen Moniter
        </button><br />
        <button class="smallBtn BlueBg">
            Clock in
        </button>
        <button class="smallBtn BlueBg">
            Clock Out
        </button><br />
        <button class="largeBtn redBg">
            Exit Programe
        </button><br />
    </div>
    <div id="dialog-form" title="Enter your Credentials" style="background-color:#3828c6;color:white;">

        <form class="form-horizontal">

            <div style="margin-bottom:10px; margin-top:15px;">
                <div>
                    <label for="name">User Name :</label> <input type="text" name="name" id="name">
                </div>

            </div>
            <div>
                <div>
                    <label for="password">Password :&nbsp;&nbsp;</label> <input type="password" name="password" id="password">
                </div>

            </div>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

        </form>
    </div>
    <script>

        function addUser() {
            var valid = true;
            allFields.removeClass("ui-state-error");

            valid = valid && checkLength(name, "username", 3, 16);
            valid = valid && checkLength(email, "email", 6, 80);
            valid = valid && checkLength(password, "password", 5, 16);

            valid = valid && checkRegexp(name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter.");
            valid = valid && checkRegexp(email, emailRegex, "eg. ui@jquery.com");
            valid = valid && checkRegexp(password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9");

            if (valid) {
                $("#users tbody").append("<tr>" +
                  "<td>" + name.val() + "</td>" +
                  "<td>" + email.val() + "</td>" +
                  "<td>" + password.val() + "</td>" +
                "</tr>");
                dialog.dialog("close");
            }
            return valid;
        }

        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 250,
            width: 350,
            modal: true,
            buttons: {
                "Create an account": addUser,
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                form[0].reset();
                allFields.removeClass("ui-state-error");
            }
        });

        //       $("#management").on("click", function () {
        //    dialog.dialog("open");
        //});
    </script>
</body>
</html>
