
@model IEnumerable<DataLayer.Entities.OrderDetail>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Order Complete";
}

<html>
<head>


    <link href="~/Content/styles/ordercmplt.css" rel="stylesheet" />
    <script src="~/Scripts/customscripts/orderCmplt.js"></script>
    <style>
        .customBttn1 {
            padding: 3px;
            width: 100%;
            border: solid;
            height: 100px;
        }

        #CustomerName {
            width: 102%;
            height: 111px;
            margin-top: 3px !important;
        }

        .totalAreaRow {
            margin-bottom: 10px;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .offpadding {
            padding-right: 0px;
            padding-left: 0px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row mainDiv">
            <div class="row cust">
                <div class="col-sm-12 col-md-12 col-lg-12 ">
                    <b>Customer Name</b>
                </div>
            </div>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <textarea id="CustomerName">
                            @ViewData["CustomerName"]
                            @ViewData["CustomerAddress"]
                        </textarea>
                    </div>
                    <div class="col-sm-3 col-lg-3 col-md-3 cutomclass">
                        <button class="customBttn greenBg" style="width:97%;"><b>Customer Details</b></button>

                        <button class="customBttn skyBlueBg" style="width:97%"><b>Change to Collection</b></button>
                    </div>
                    <div class="col-sm-3 col-lg-3 col-md-3 cutomclass">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-6" style="padding-right: 0px;">
                                <div class="col-sm-6 col-lg-6 col-md-6 offpadding"><button class="BtnOpt"><b>+</b></button></div>
                                @*<div class="col-sm-1 col-md-1 col-lg-1"></div>*@
                                <div class="col-sm-6 col-lg-6 col-md-6 offpadding"><button class="BtnOpt"><b>+</b></button></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4"><input type="text" class="form-control" style="width: 86% !important;" /> </div>
                            <div class="col-sm-1 col-md-1 col-lg-1" style="margin-left: -13%;margin-top: 6px;">:</div>
                            <div class="col-sm-4 col-md-4 col-lg-4"><input type="text" class="form-control" style="margin-left: -24px;width: 86% !important;" /></div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-6" style="padding-right: 0px;">
                                <div class="col-sm-6 col-lg-6 col-md-6 offpadding"><button class="BtnOpt"><b>-</b></button></div>
                                @*<div class="col-sm-1 col-md-1 col-lg-1"></div>*@
                                <div class="col-sm-6 col-lg-6 col-md-6 offpadding"><button class="BtnOpt"><b>-</b></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <button class="newBg selected">Cash</button>
                        <button class="customBttn BlueBg">Cheque</button>
                        <button class="customBttn BlueBg">Credit Card</button>
                        <button class="customBttn BlueBg">Voucher</button>
                        <button class="customBttn greenBg" id="clearCash">Clear Cash</button>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">7</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">8</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">9</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>5</span></button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"> <span>5</span>%</button></div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">4</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">5</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">6</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>10</span></button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"><span>10</span>%</button></div>

                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">1</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">2</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">3</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>20</span></button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"><span>15</span>%</button></div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button id="doublezero">00</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="calculatorBtn">0</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfontBtn" id="fullAmount">Full Amount</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomfBtn">&pound <span>50</span></button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><button class="CustomPercBtn"><span>25</span>%</button></div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 customlable cutomclass">
                                Take Away Order No.2
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"><span></span></div>

                            <div class="col-sm-4 col-md-4 col-lg-4 cutomclass"><button class="cstmBtn">Loyalty</button></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 cutomclass"></div>

                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-md-10 col-lg-10 cutomclass">
                                <input class="form-control" />
                            </div>

                        </div>
                    </div>



                </div>
            </div>
            <div class="operationsArea col-sm-4 col-md-4 col-lg-4" id="operationsArea">
                <div class="row " style="margin-bottom:32px;margin-right: 0px !important;margin-left: 0px !important;">
                    <div class="col-sm-12  col-md-12 col-lg-12 ordertableArea1">
                        <table class="table table-bordered" id="itemsTable">
                            <thead>
                                <tr>
                                    <th>Qty</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody class="tableBody">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td id="qty">@item.ItemQty</td>
                                        <td>@item.ItemName</td>
                                        <td class="price1">@item.Amount</td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="totalArea">
                    <div class="row totalAreaRow">
                        <table cellpadding="4" class="table table-responsive">
                            <thead><tr></tr></thead>
                            <tbody>
                                <tr>
                                    <td>  </td>
                                    <td><b>Sub Total  </b></td>
                                    <td><b>:</b></td>
                                    <td><b id="Subtotal"></b></td>
                                </tr>

                                <tr>
                                    <td> </td>
                                    <td><b>Total  </b></td>
                                    <td><b>:</b></td>
                                    <td><b id="totalAmount"></b></td>
                                </tr>

                                <tr>
                                    <td> </td>
                                    <td><b>Paid Amount  </b></td>
                                    <td><b>:</b></td>
                                    <td><b id="paidAmount"></b></td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td></td>
                                    <td><b>Balance </b></td>
                                    <td><b>:</b></td>
                                    <td><b id="balance"></b></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <div class="row " style="">
            <div class="col-lg-1 col-sm-1 col-md-1"></div>
            <div class="col-lg-1 col-sm-1 col-md-1"></div>


            <div class="col-lg-1 col-sm-1 col-md-1"><button class="OptionBtns redBg" onclick="location.href='@Url.Action("TakeAway", "Home")'" id="cancelOrder"><b>Cancel Order</b></button></div>
            <div class="col-lg-1 col-sm-1 col-md-1"><button class="OptionBtns redBg"><b>Discount</b></button></div>
            <div class="col-lg-1 col-sm-1 col-md-1"><button class="OptionBtns redBg"><b>Till</b></button></div>
            <div class="col-lg-1 col-sm-1 col-md-1"><button class="OptionBtns orangeBg" id="print"><b>Print All</b></button></div>
            <div class="col-lg-2 col-sm-2 col-md-2"><button class="OptionBtns BlueBg"><b>Send To Kitchen/Bar</b></button></div>
            <div class="col-lg-1 col-sm-1 col-md-1"><button class="OptionBtns greenBg"><b>Back to order</b></button></div>
            <div class="col-lg-1 col-sm-1 col-md-1"><button class="OptionBtns redBg" onclick="location.href='@Url.Action("TakeAway", "Home")'" id="exit"><b>Back</b></button></div>



        </div>
    </div>
</body>

</html>
